.navbar {
  background: #5595CD !important;
  border-radius: 0px !important;
}

.logo {
  width: 65px;
  height: 55px;
  margin: 4px 10px 0 10px;
}

.logo:hover{
  -ms-animation: wiggle 1s;
  -moz-animation: wiggle 1s;
  -webkit-animation: wiggle 1s;
  animation: wiggle 1s;
}
